services:
  datastore:
    # https://github.com/bitnami/containers/blob/main/bitnami/postgresql/README.md
    image: bitnami/postgresql:17-debian-12
    container_name: datastore
    # TODO restart may mask errors. Leave commented out till production
    # restart: unless-stopped
    networks:
      - app-tier
    environment:
      POSTGRESQL_DATABASE: ${POSTGRESQL_DATABASE}
      POSTGRESQL_USERNAME: ${POSTGRESQL_USERNAME}
      POSTGRESQL_PASSWORD: ${POSTGRESQL_PASSWORD}
    ports:
      - '${DATASTORE_PORT}:${DATASTORE_PORT}'  
    volumes:
       - ./datastore/initdb:/docker-entrypoint-initdb.d
       - ./datastore/persistence:/bitnami/postgresql
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: api
    # TODO restart may mask errors. Leave commented out till production
    # restart: unless-stopped
    networks:
      - app-tier
    environment:
      ENVIRONMENT: ${ENVIRONMENT}
      API_HOST: ${API_HOST}
      API_PORT: ${API_PORT}
      API_READ_TIMEOUT:  ${API_READ_TIMEOUT}
      API_WRITE_TIMEOUT: ${API_WRITE_TIMEOUT}
      API_DEFAULT_WRITE_TIMEOUT: ${API_DEFAULT_WRITE_TIMEOUT}
      API_IDLE_TIMEOUT:  ${API_IDLE_TIMEOUT}
      API_REQUEST_MAX_BYTES: ${API_REQUEST_MAX_BYTES}
      DATASTORE_HOST: ${DATASTORE_HOST}
      DATASTORE_PORT: ${DATASTORE_PORT}
      POSTGRESQL_DATABASE: ${POSTGRESQL_DATABASE}
      POSTGRESQL_USERNAME: ${POSTGRESQL_USERNAME}
      POSTGRESQL_PASSWORD: ${POSTGRESQL_PASSWORD}
      POSTGRESQL_SCHEMA: ${POSTGRESQL_SCHEMA}
      POOL_MAX_CONNS: ${POOL_MAX_CONNS}
      POOL_MIN_CONNS: ${POOL_MIN_CONNS}      
      POOL_MAX_CONN_IDLE_TIME: ${POOL_MAX_CONN_IDLE_TIME}
      POOL_MAX_CONN_LIFETIME: ${POOL_MAX_CONN_LIFETIME}
      POOL_MAX_CONN_LIFETIME_JITTER: ${POOL_MAX_CONN_LIFETIME_JITTER}
      POOL_HEALTH_CHECK_PERIOD: ${POOL_HEALTH_CHECK_PERIOD}
    ports:
      - '${API_PORT}:${API_PORT}'
    volumes:
      - ./api:/api
    working_dir: /api
    command: make watch
  common:
    build:
      context: ./common
      dockerfile: Dockerfile
    container_name: common
    networks:
      - app-tier
    volumes:
      - ./common:/common
      - ./api/internal/sqlcgenerated:/common/sqlc/sqlcgenerated     
    working_dir: /common
networks:
  app-tier:
    driver: bridge
