{{template "base layout" .}}

{{define "title"}}Clients{{end}}

{{define "body"}}
<a href='/clients/create'>Create</a>
<form method="get">
  <div>
    <label for="name">Name:</label>
    <input type='text' id="name" name='name' value='{{if .Request.URL.Query.Get "name"}}{{.Request.URL.Query.Get "name"}}{{end}}' placeholder="* = wildcard">
  </div>
  <div>
    <label for="deleted">Show Deleted:</label>
    <input type='checkbox' id="deleted" name='deleted' value='true' {{if .Request.URL.Query.Get "deleted"}}checked{{end}}>
  </div>
  <div>
    <input type='submit' value='Filter'>
  </div>
</form>
<ul>
{{range .Response.Clients}}
<li><a href='/clients/{{.ClientID}}'>{{.Name}}</a> (deleted)</li>
{{end}}
</ul>
{{if or .Response.Previous .Response.Next}}
<div>
{{end}}
{{if .Response.Previous}}
  <a href='{{.Response.Previous}}'>Previous</a>
{{end}}
{{if and .Response.Previous .Response.Next}}
-
{{end}}
{{if .Response.Next}}
  <a href='{{.Response.Next}}'>Next</a>
{{end}}
{{if or .Response.Previous .Response.Next}}
</div>
{{end}}
{{end}}
