{{template "base layout" .}}

{{define "title"}}Clients{{end}}

{{define "body"}}
<div>
Name: {{.Response.Client.Name}}
</div>
<div>
Address: {{.Response.Client.Address.String}}
</div>
{{end}}
<a href='{{.EditHref}}'>Edit</a> -
<a href='{{.DeleteHref}}'>Delete</a>