{{template "base layout" .}}

{{define "title"}}Clients{{end}}

{{define "body"}}
<form method="get">
  <div>
    <label for="name">Name:</label>
    <input type='text' id="name" name='name' value='' placeholder="* = wildcard">
  </div>
  <div>
    <label for="deleted">Show Deleted:</label>
    <input type='checkbox' id="deleted" name='deleted' value='true' checked>
  </div>
  <div>
    <input type='submit' value='Filter'>
  </div>
</form>
<ul>
{{range .Response.Clients}}
<li><a href='/clients/{{.ClientID}}'>{{.Name}}</a> (deleted)</li>
{{end}}
</ul>
{{if or .Response.Previous .Response.Next}}
<div>
{{end}}
{{if .Response.Previous}}
  <a href='{{.Response.Previous}}'>Previous</a>
{{end}}
{{if and .Response.Previous .Response.Next}}
-
{{end}}
{{if .Response.Next}}
  <a href='{{.Response.Next}}'>Next</a>
{{end}}
{{if or .Response.Previous .Response.Next}}
</div>
{{end}}
{{end}}