{{template "base layout" .}}

{{define "title"}}Clients{{end}}

{{define "body"}}
<div>
Name: {{.Response.Client.Name}}
</div>
<div>
Address: {{.Response.Client.Address.String}}
</div>
{{end}}
<a href='/clients/{{.Response.Client.ClientID}}'>Edit</a>
<form method="post" action="/confirm">
    <input type='hidden' name='question' value='Are you certain you want to delete {{.Response.Client.Name}}?'>
    <input type='hidden' name='yes_href' value='/clients/{{.Response.Client.ClientID}}'>
    <input type='hidden' name='no_href' value='/clients/{{.Response.Client.ClientID}}'>
    <input type='submit' value='Delete'>
</form>