{{template "base layout" .}}

{{define "title"}}Confirm{{end}}

{{define "body"}}
<p>{{.Question}}</p>
<P>
<form method="post" action="{{.YesHref}}">
    <input type='hidden' name='HTTPVerb' value='DELETE'>
    <input type='submit' value='Yes'>
</form>
<a href='{{.NoHref}}'>No</a>
</p>
{{end}}
