{{define "base layout"}}
<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - Wetesa-1</title>
</head>
<body>
    <header>
        <h1><a href='/home'>Wetesa-1</a></h1>
    </header>
    <nav>
        <a href='/orders'>Orders</a> | <a href='/products'>Products</a> | <a href='/clients'>Clients</a> | <a href='/users'>Users</a> | <a href='/'>Logoff</a>
    </nav>
    <section>
        {{template "body" .}}
    </section>
    {{template "footer" .}}
</body>
</html>
{{end}}
