{{define "base layout"}}
<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{template "title" .}} - Wetesa-1</title>
</head>
<body>
    <header>
        <h1><a href='/home'>Wetesa-1</a></h1>
    </header>
    <nav>
        {{if eq .MainMenu "Orders"}}<strong>{{end}}<a href='/orders'>Orders</a>{{if eq .MainMenu "Orders"}}</strong>{{end}} | 
        {{if eq .MainMenu "Products"}}<strong>{{end}}<a href='/products'>Products</a>{{if eq .MainMenu "Products"}}</strong>{{end}} | 
        {{if eq .MainMenu "Clients"}}<strong>{{end}}<a href='/clients'>Clients</a>{{if eq .MainMenu "Clients"}}</strong>{{end}} | 
        {{if eq .MainMenu "Users"}}<strong>{{end}}<a href='/users'>Users</a>{{if eq .MainMenu "Users"}}</strong>{{end}} |
        <a href='/'>Logoff</a>
        <hr>
    </nav>
    <section>
        {{template "body" .}}
    </section>
</body>
</html>
{{end}}
